.teu-simple-nav {
    a {
        &.active {
            @extend .btn-light;
            font-weight: bold;
            color: $sw-color-brand-primary;
        }

    }
    a:hover,
    button.navigation-offcanvas-link-icon:hover {
        @extend .btn-light;
    }
    li > ul {
       a {
           @extend .btn-light;
           padding-left: 2rem;
       }
        li {
            background: none;
            > ul {
                a {
                    padding-left: 3rem;
                }
            }
        }
        li:last-child {
            border-bottom: none;
        }
    }

    .navigation-offcanvas-link-icon {
        border:none;
        border-left: 1px solid $gray-300;
        background: transparent;
        .icon {
            transition: transform .3s ease-in-out;
        }
        &[aria-expanded="true"] {
            @extend .btn-light;
            .icon {
                transform: rotate(90deg);
            }

        }
    }
}
