{%  sw_extends '@Storefront/storefront/layout/navigation/offcanvas/categories.html.twig' %}

{# @var navigation \Shopware\Core\Content\Category\Tree\Tree #}

{% block layout_navigation_offcanvas_navigation_categories %}

    {%  set TeuBetterMobileMenu = config('TeuBetterMobileMenu.config') %}
    {% if TeuBetterMobileMenu.active %}
        <div class="navigation-offcanvas-container js-navigation-offcanvas teu-simple-nav">
            <div class="navigation-offcanvas-overlay-content js-navigation-offcanvas-overlay-content">
                {% sw_include '@Storefront/storefront/layout/navigation/offcanvas/general-headline.html.twig' %}
                {% sw_include '@Storefront/storefront/layout/navigation/offcanvas/simple-nav.html.twig' with { navigationTree: navigation.tree} %}
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
