{% block layout_navigation_simple %}

    {% if not level %}
        {% set level = 0 %}
    {% endif %}
    {% if not active %}
        {% set active = false %}
    {% endif %}
    {% set activeId = page.header.navigation.active.id %}
    {% set activePath = page.header.navigation.active.path|split('|') %}

<ul class="list-unstyled navigation-offcanvas-list is-level-{{ level }}{% if level > 0 %} collapse{% endif %}{% if parentId in activePath %} show{% endif %}" {% if parentId %} id="subnav-{{ parentId }}"{% endif %}>
    {% for treeItem in navigationTree %}

        {% set id = treeItem.category.id %}
        {% set name = treeItem.category.translated.name %}
        {% set link = category_url(treeItem.category) %}

        {% block layout_navigation_simple_item %}
            <li class="navigation-offcanvas-list-item  is-level-{{ level }} {% if treeItem.children %} has--children{% endif %}">
                <div class="nav-item d-flex{% if id == activeId %} active{% endif %}">
                    <a class="navigation-offcanvas-link w-100{% if id == activeId %} active{% endif %}{% if treeItem.category.id in activePath %} active-child{% endif %}"
                       href="{{ link }}"
                       itemprop="url"
                        {% if category_linknewtab(treeItem.category) %}target="_blank"
                            {% if treeItem.category.linkType == "external" %}rel="noopener noreferrer"{% endif %}
                        {% endif %}
                       title="{{ name }}">
                        {% block layout_navigation_offcanvas_navigation_categories_list_category_item_link_text %}
                            <span itemprop="name">{{ name }}</span>
                        {% endblock %}
                    </a>
                    {% if treeItem.children %}
                        {% block layout_navigation_offcanvas_navigation_categories_list_category_item_link_icon %}
                            <button
                                data-bs-toggle="collapse"
                                data-bs-target="#subnav-{{ id }}"
                            {% if treeItem.category.id in activePath %}
                                aria-expanded="true"
                            {% else %}
                                aria-expanded="false"
                            {% endif %}
                            aria-label="{{ "TeuBetterMobileMenu.navigation.expandButtonLabel"|trans({'%category%': name})|sw_sanitize }}"
                            class="navigation-offcanvas-link-icon navigation-offcanvas-link">
                                    {% sw_icon 'arrow-medium-right' style { 'pack':'solid', 'size': 'sm' } %}
                                </button>
                        {% endblock %}
                    {% endif %}
                </div>



                {% block layout_navigation_simple_recoursion %}
                    {% if treeItem.children %}
                        {% sw_include '@Storefront/storefront/layout/navigation/offcanvas/simple-nav.html.twig' with {
                            navigationTree: treeItem.children,
                            level: level + 1,
                            page: page,
                            parentId: id,
                            active: treeItem.category.active
                        } only %}
                    {% endif %}
                {% endblock %}
            </li>
        {% endblock %}
    {% endfor %}
</ul>
{% endblock %}
